<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <h1>Things to do:</h1>
    <table>
        {% for item in object_list %}
        <tr>
            <td>{{ item.text }}</td>
            <td>{{ item.due_date }}</td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
    </form>
{% endblock %}



</body>
</html>