{% extends "base.html" %}

{% block content %}
    <h1>Room: {{ room.name }}</h1>
    <p>ID: {{ room.id }}</p>

    <h2>Devices</h2>

    {% for d in room.devices.all %}
        <p>
            <a href="{% url 'item_detail' d.id %}">
                {{ d.name }} ({{ d.type }})
                {% if d.state %}
                    allumé
                {% else %}
                    éteint
                {% endif %}
            </a>
        </p>
    {% empty %}
        <p>Aucun device dans cette room.</p>
    {% endfor %}

    <hr>

    <a href="{% url 'room_device_add' room.id %}" class="button">Ajouter device</a>
    <a href="{% url 'all_rooms' %}" class="button">Retour</a>
    <a href="/rapports/piece/{{ room.id }}/csv/" class="button">Télécharger le rapport CSV</a>
{% endblock %}